html, body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.emscripten_border {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

canvas.emscripten {
    display: block;
}

.emscripten_controls {
    display: none;
    text-align: center;
    margin-top: 20px;
}
